<html>
<head>
  <title>MultiBaseBox</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="icon" type="image/svg+xml" href="https://logo.factorial.io/sq/white.svg">
</head>
<body class="bg-gray-200">
 <div class="m-10 font-mono w-4/6 mx-auto">
  <header class="p-4 pt-16 bg-gray-100 text-xl font-bold">
  MultiBaseBox
  </header>
  <table class="p-4 bg-white table-fixed shadow-sm" style="width: 100%">
    <thead>
      <tr>
        <th class="border text-gray-500 text-left w-1/3 p-4 font-normal">Container</th>
        <th class="border text-gray-500 text-left w-1/3 p-4 font-normal">Internal IP address</th>
        <th class="border text-gray-500 text-left w-1/3 p-4 font-normal">URLs</th>
      </tr>
    </thead>
    <tbody>
    {% for container in containers %}
      <tr class="align-top">
        <td class="border p-4 overflow-hidden">{{container.name}}</td>
        <td class="border p-4">{{container.ip}}</td>
        <td class="border p-4 leading-normal">
          {% for vhost in container.vhosts %}
            <a target="_blank" class="underline hover:text-red-600 text-blue-600 font-bold" href="http{%if container.ssl %}s{%endif%}://{{ vhost }}{%if container.vpath %}{{ container.vpath }}{%endif%}">{{ vhost }}</a> <br />
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </table>
    <footer class="m-4 text-gray-500 text-right text-sm">
      <a target="_blank" class="underline text-grey-700 hover:text-red-600" href="https://github.com/factorial-io/multibasebox" target=_blank">MultiBaseBox<a>
      is brought to you by
      <a target="_blank" class="underline text-grey-700 hover:text-red-600" href="https://www.factorial.io">Factorial.io</a>
    <footer>
  </div>
</body>
</html>

